.head {
  display: flex;
  padding-left: 2rem;
  padding-top: 5rem;
}
.cal-head {
  color: gray;
  font-size: 2.5rem;
}
.year-head {
  color: white;
  font-size: 2.5rem;
  padding-left: 0.5rem;
}
.calen-img {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.calendar {
  
  height: 40vh;
  width: auto;
}

.text-area{
  background-color: white;
  height: 38vh;
  border-radius: 20px 20px 0px 0px;
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

p {
  color: #4A4A4A;
  font-size: 1rem;
}
.button {
  display: flex;
  justify-content: end;
  margin-top: 4rem;
}
.next-btn {
  height: 4.6rem;
  width: 6rem;
  border: none;
  display: flex;
  justify-content: center;
  background-color: #FF6A3D;
  align-items: center;
  border-radius: 70px 0px 0px 0px;
}

i {
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: 1.2rem;
  color: white;
}
.next-btn:hover {
  background-color: #f34e1c;
}